/*This is my 377 FoCo Web Page Project using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- This is the beginning of my 377 FoCo Web Page Project ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: url("images/theatre-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
	
	
}
body {
	animation: fadeInAnimation ease 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


.center {
    width: 75%;
	padding: 2%;
    margin: 100px auto;
 	background: rgba(0, 0, 0, 0.75); /*this uses opacity of 75% for the background color*/
	text-align: center;
	border: none;
	border-radius: 15px;
}

   
#logo {
  width:75%;
  margin-bottom: 16px;
	border: none;
	text-align: center;
}

#logoabout {
  width: 25%;
  margin-bottom: 16px;
	border: none;
	text-align: center;
}

h1 {
	font-family: 'Satisfy', cursive;
	font-size: 2.5em;
    margin: 0px auto 10px auto;
    color: #fff;
}

h2 {
	font-family: 'Satisfy', cursive;
	font-size: 1.75em;
    line-height: 1.4;
    color: #fff;
    padding: 0px 0px;
    margin: 0px auto 25px auto;
}

p {
	font-family: 'Satisfy', cursive;
	font-size: 1.2em;
    line-height: 1.6;
    color: #fff;
}
    
nav{
	font-family: 'Bebas Neue', cursive;
		font-size: 1.5em;
		width: 75%;
		margin: 0 auto;
		border: solid rgb(170, 24, 44);
		border-width: 3px 0;
		text-align: center;
		margin-top: 2em;

	}

nav li{
	display: inline;

}

nav a{
	display: inline-block;
	padding: 10px;
	color: rgb(170, 24, 44);
	text-decoration: none;
}

a:hover{
	color: black;
	background: whitesmoke;
}

/* ---------- This is the beginning of my About page. ------------ */

 /* Code for cards */

/* sets everything to zero */

* {
    margin: 0;
    padding: 0;
  }
 
  .cardphoto img {
    display: block;
    max-width: 100%; /* makes image responsive if needed but makes sure it doesn't stretch */
  }
 
  /* make the Section class cards here.  */
 
  .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
 
  /* make the card flex. The default is row so change flex direction to vertical. */
  .card {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 10px;
    min-width: 250px;
    max-width: 350px;
    border-radius: 0.5rem;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    box-shadow: 0 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 0;
  }
  .card:hover {
    transition: all 0.3s ease-in;
    top: -8px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  }
 
  .cardphoto {
    max-height: 360px;
    overflow: hidden;
  }
 
  .cardarticle {
    max-height: 260px;
    padding: 1.5rem;
    flex-grow: 1;
  }
 
  /* typography */
  .cardH1 {
    font-family: 'Satisfy', cursive;
    font-size: 2.5rem;
    margin: 0;
    color: black;
  }
 
  .card p {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    line-height: 1.5;
	color:black
  }
 
  .card footer {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2rem;
    font-weight: bold;
    color: #444;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
  }

  h3{
      color:black;
  }